<% content_for :profile do -%>
    <%= stylesheet_link_tag 'schedule' %>
    <%= javascript_include_tag 'viewmodels/tournament_view_model' %>
<% end -%>


<h1>Tournament Schedule / Results</h1>
<hr/>

<div id="tournament-index">
  <div class="season-choose">
    <label class="float-left">Season:</label>
    <select class="season-select" data-bind="value: currentSeason">
      <option selected="true">2012-2013</option>                                                                   v
      <option>2011-2012</option>
      <option>2010-2011</option>
    </select>
  </div>

  <%= form_tag( :tournament_path,
                :id => 'season-form',
                :method => :get,
                :format => 'json',
                #:html => { :'data-type' => 'json' },
                :remote => true) do %>
      <%= hidden_field_tag 'season' %>
  <% end %>

  <div id="tourney-display">

  </div>
</div>

<%#= render 'tournaments/partials/seasonTourneys', :locals => { :tournaments => @tournaments } %>