<div>
    <label>Status:</label>
    <span>N/A</span>
    <label>Pre-Tournament</label>
    <input type='button' class='btn btn-primary activate-btn' value='Assign Lanes'/>
    
    <label>During Tournament</label>
    <input type='button' class='btn btn-primary activate-btn' value='Generate Recaps'/>
    <input type='button' class='btn btn-primary activate-btn' value='Generate Standings'/>
    <hr/>
    <input type='button' class='btn btn-primary activate-btn' value='Begin Bowling!'/>
    
</div>
