<h2> PROFILES GO HERE! </h2>

<%# content_for :login do -%>
    <%#= stylesheet_link_tag 'login' %>
<%# end -%>

<!--<form class="form-login">-->
    <!--<h2 class="form-login-heading">Login to My CSBT</h2>-->
    <!--<input type="text" class="input-block-level" placeholder="Username">-->
    <!--<input type="password" class="input-block-level" placeholder="Password">-->

    <!--<label class="checkbox">-->
        <!--<input type="checkbox" value="remember-me">Remember me</input>-->
    <!--</label>-->

    <!--<button class="btn btn-large btn-primary" type="submit">Sign In</button>-->
    <!--<a href="/register" class="btn btn-large btn-inverse float-right">Register</a>-->
<!--</form>-->