h1 {
    margin: 0 0 0 6px;
    color: #ffffff;
}

/**
 * Bowler search links
 */
.alpha-links {
    min-width: 720px;
    text-align: center;
}

.link-list {
    margin: 2px auto;
}

.link-list li {
    display: inline;
    text-align: center;
}

.alpha-link {
    padding: 8px;
}

.selected-alpha-link, .selected-alpha-link:hover {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.selected-alpha-link:hover {
    color: #9c9c9c;
}

/**
 * Bowler tiles and display
 */
.bowler-tile {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 280px;
    height: 120px;
    margin: 4px 12px 8px 0;
    text-align: center;
}

.tile-photo, .tile-photo-holder {
    width: 92px;
    height: 112px;
    margin-top: 2px;
}

.tile-photo-holder {
    float: left;
}


.bowler-tile a {
    font-size: 18px;
    padding-left: 8px;
    text-align: center;
}

.tile-name {
    margin-top: 8px;
}