.csbt-dialog,
.modal-content {
    background-color: #212120;
}

.csbt-dialog .model-body {
    padding-top: 24px; /* override bootstrap */
}

.csbt-dialog .modal-footer {
    margin-top: -10px; /* override bootstrap */
}

#update-messages {
    margin-left: 12px;
}
