/**
* Main Profile layout and headers
*/
.basic-info {
    margin-left: 180px;
    min-width: 535px;
}

.basic-info hr {
    margin: 10px 0 10px 0;
    width: 100%;
}

/**
* Main profile tabs for bio and stats
*/
.nav-tabs {
    height: 50px;
    margin-bottom: 10px;
}

.tab-pane {
    margin-left: 10px;
}

.nav-tabs > li > a {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

/**
* Bowlers info table.
*/
.info-heading {
    font-weight: bold;
}

.info-data {
    padding: 0 26px 0 5px;
}

.basic-info-table {
    margin: -6px 0 0 40px;
}

.basic-info-table td {
    margin: 0;
    font-size: .80em;
    color: #fff;
}

/**
* Bowler profile photo and personal info
*/
.photo {
    width: 170px;
    height: 200px;
}

.photo-holder {
    float: left;
    width: 170px;
    height: 200px;
}

.personal-info {
    margin-left: 180px;
    margin-top: 14px;
    min-width: 540px;
    height: 100%;
    color: #fff;
}

.content {
    min-width: 930px;
    height: 100%;
}

#edit-bowler-form {
    color: #fff;
}

.left-edit-column {
    width: 415px;
    min-width: 415px;
    float: left;
}

.center-edit-column {
    width: 250px;
    min-width: 250px;
    margin-left: 20px;
    float: left;
}

.right-edit-column {
    width: 250px;
    min-width: 250px;
    height: 300px;
    margin: 20px 0 0 710px;
}

.edit-section {
    margin: 10px 0 5px 0;
}

.edit-profile-label {
    width: 80px;
    height: 30px;
    margin-right: 10px;
    padding-top: 4px;
    float: left;
    text-align: right;
}

.edit-bio-label {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    float: left;
    text-align: right;
}

.edit-profile-field {
    width: 110px;
}

.edit-bio {
    width: 350px;
    height: 280px;
    margin-left: 10px;
}

.edit-height-select {
    width: 50px;
    padding: 4px 6px 4px 2px;
    float: left;
}

.ft-label {
    width: 20px;
    margin-left: 5px;
    height: 30px;
    padding-top: 4px;
    float: left;
}

.in-label {
    width: 20px;
    margin-left: 220px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.edit-profile-select {
    width: 124px;
}

select {
    padding-left: 3px;
}

.edit-submit-button {
    margin: 50px 0 0 116px;
}

#birthday-picker {
    width: 250px;
    margin-bottom: 18px;
}

#birthday-picker input {
    width: 98px;
}


