.season-choose {
    color: #ffffff;
    margin: 20px 0 -8px 0;
}

.season-choose label {
    padding-top: 5px;
}

.season-select {
    margin-left: 8px;
    width: 110px;
}

.accordion-toggle {
    background-color: #595959;
}

.accordion-inner {
    background-color: #111111;
}

.accordion-toggle, .accordion-toggle:hover {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.heading-tourney {
    float: right;
    margin-top: -22px;
}


.info-header {
    color: #ffffff;
}

.info-section {
    color: #ffffff;
}


.info-label {
    font-weight: bold;
}

.left-info-label {
    width: 84px;
}

.center-info-label {
    width: 94px;
}

.right-info-label {
    width: 116px;
}

.info {
    //width: 250px;
}

.accordion-body hr {
    margin: 10px 0 10px 0;
}

.left-info-column {
    width: 220px;
    height: 30px;
    float: left;
}

.center-info-column {
    width: 220px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

.right-info-column {
    width: 310px;
    height: 30px;
    margin-left: 460px;
}