/*

h3, table.game-data, .game-1, .game-2, .game-3, .game-4, .champion {
    color: #ffffff;
}


.game-data {
    margin: 0 50px 18px 50px;
}



.game-data td {
    border: 1px solid #ffffff;
    text-align: center;
}

.game-data td.cut-hidden {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #ffffff;
    background-color: transparent;
    text-align: left;
    width: 60px;
}

.game-data td.cut {
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 3px solid #ffff00;
}

.game-data td.cut-left {
    border-left: none;
    border-top: none;
    border-right: 1px solid #ffffff;
    background-color: transparent;
}

.game-data td.highlight {
    background-color: #ffff00;
    border-color: #000000;
    color: #000000;
}



.outlined {
    border: 1px solid red;
    width: 186px;
}


.position-header {
    width: 35px;
}

.bowler-header {
    width: 160px;
}

.games-3-header {
    width: 106px;
}

.games-5-header {
    width: 176px;
}

.games-6-header {
    min-width: 212px;
    max-width: 212px;
    width: 212px;
}

.total-pins-header {
    width: 80px;
}

.plus-minus-header {
    width: 60px;
}

.avg-header {
    width: 60px;
}

.points-header {
    width: 50px;
}




*/